<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col">
    <%= link_to 'New course', new_course_path, class: 'btn btn-success' %>
  </div>
</div>
<br/>
<div class="card">
    <div class="row">
      <div class="col">
	  	<h1>Courses</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Course name</th>
            <th>active</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td class="align-middle"><%= course.name %></td>
            <td class="align-middle"><%= course.active %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_course_path(course), class: 'btn btn-warning' %></td>
            <td class="align-middle"><%= link_to 'Destroy', [course], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
</div> 