<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col">
    <%= link_to 'New group', new_group_subject_path, class: 'btn btn-success' %>
  </div>
</div>
<br/>
<div class="card">
    <div class="row">
      <div class="col">
	  	<h1>Group Subjects</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Subject name</th>
            <th>Group name</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
        <% @group_subjects.each do |group_subject| %>
          <tr>
            <td class="align-middle"><%= group_subject.subject.name %></td>
            <td class="align-middle"><%= group_subject.group.name %></td>
            <td class="align-middle"><%= link_to 'Edit', edit_group_subject_path(group_subject), class: 'btn btn-warning' %></td>
            <td class="align-middle"><%= link_to 'Destroy', [group_subject], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
</div> 